
#DATABASE
DATABASE_URL=""
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=wholesale_pos
DB_PORT=5432
POSTGRES_HOST_AUTH_METHOD=trust

#APP
JWT_SECRET=""
NEXT_PUBLIC_LOCALE=es
NEXT_PUBLIC_APP_NAME="Wholesale POS"
APP_PORT=3000
TEST_BASE_URL=http://localhost
ADMIN_USERNAME=
ADMIN_PASSWORD=

APP_IMAGE_NAME=inventory-management-system-app
APP_IMAGE_TAG=latest
PROJECT_NAME=inventory-management-system

# MERCADO PAGO
MP_ACCESS_TOKEN=
MP_STORE_ID=
MP_POS_ID=
MP_ENVIRONMENT=""
NODE_ENV=""

#publish to Docker Hub
DOCKERHUB_USER=user
VERSION=v1.1
APP_LOCAL_IMAGE=app





